@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8d769a;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 350px;
    width: 600px;
    border-radius: 30px;
    background-color: #006270;
    margin-top: 100px;
    position: relative;
    box-shadow: -2px -2px 8px black;
}

h2 {
    font-family: Poppins;
    font-size: 2em;
    text-align: center;
    margin-top: 15px;
    background-color: transparent;
}

.content {
    height: auto;
    width: 100%;
    background-color: transparent;
    margin-bottom: 150px;
}

.content .quote {
    font-size: 1.2em;
    font-family: Josefin Sans;
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    color: #ffffffb4;
}

.content .quote::before,
.content .quote::after {
    content: '"';
}

.content .writter {
    float: right;
    margin-right: 20px;
    font-size: 1.2em;
    font-family: Josefin Sans;
    background-color: transparent;
    color: #ffffffb4;
}

.content .writter::before {
    content: '-/';
}

.btn-parent {
    position: absolute;
    bottom: 25px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: transparent;
}

.btn {
    height: 55px;
    width: 130px;
    border: none;
    border-radius: 20px;
    border: 2px solid #222217;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
}

.new-quote {
    font-family: Poppins;
    padding: 10px;
    background-color: #009394;
    color: #fff;
}

.tweet {
    font-family: Poppins;
    background-color: #fff;
    padding-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tweet img {
    height: 30px;
    width: auto;
    background-color: transparent;
}
